/* Fondo general */
body {
    background-color:#9e8864;; /* Tono crema suave similar a la captura */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Título Principal */
h1 {
    text-align: center;
    color: #2b1d05; /* Café oscuro para el título */
    text-transform: uppercase;
    letter-spacing: 1px;    
}

/* Contenedor Grid */
#contenedorProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;

    margin: auto;
    max-width: 1100px;   /* evita que se estiren */
    padding: 20px;
}


/* Tarjeta de productos  */
.practice-card {
    max-width: 260px;   /* tamaño real de la tarjeta */
    width: 100%;

    background-color: #d4c8a7;
    border: 1px solid #5c4f3b;
    border-radius: 12px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 0 auto; /* centra cada tarjeta */
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}


.practice-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* Imagenes */
.practice-card img {
    width: 120px;       /* Tamaño */
    height: 120px;      
    object-fit: contain; /* Evita que la imagen se deforme */
    margin-right: 20px;  /* Espacio entre la foto y el texto */
    border-radius: 8px;
    border: 1px solid #f0f0f0; /* Un borde sutil en la foto */
    background-color: #fff;
    flex-shrink: 0; /* Evita que la imagen se aplaste si hay mucho texto */
}

/* Textos */
.card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


/* Estilo para la descripción */
.card-description {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;
    line-height: 1.4;
}

/* Estilo para el precio */
.card-price {
    font-size: 1rem;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 8px;
}

/*Botón Principal */
button {
    background-color: #58492a;  /* color del boton */
    color: white;              /* Texto blanco */
    padding: 10px 20px;        
    font-size: 1rem;         /* Texto un poco más grande */
    font-weight: bold;
    border-radius: 8px;       
    cursor: pointer;           /* Manita al pasar el mouse */
    display: block;
    margin: auto;
}
.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn-volver {
    position: absolute;
    left: 70px;
     background-color: #4a5327;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}