/* ===== RESET BASE ===== */
body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #d3dbe7);
}

/* ===== HEADER ===== */
header {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
     padding: 40px 0 !important;
}


/* ===== PERFIL ===== */
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0.8);
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

/* ===== REPOS ===== */
.repo-card {
    transition: all 0.25s ease;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.repo-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0,0,0,.15);
}

/* ===== SIDEBAR ===== */
aside .card {
    border-radius: 20px;
    background: rgba(246, 246, 248, 0.9);
}

/* ===== FOLLOWERS ===== */
#followers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* MINI TARJETA */
.follower-card {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f8f9fa;
    padding: 15px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0,0,0,.07);
    transition: .25s;
}

.follower-card:hover {
    transform: scale(1.05);
    background: #eef3f9;
}

/* AVATAR */
.follower-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #dee2e6;
}

/* NOMBRE */
.follower-name {
    font-size: .9rem;
    font-weight: 600;
}

/* ===== FOOTER ===== */
footer {
    background: linear-gradient(135deg, #1c2833, #2d3d4d);
    color: #ddd;
    padding: 3rem 0;
    margin-top: 5rem;
    font-size: .9rem;
}

/* ===== BOTÓN VER CÓDIGO ===== */
.btn-code {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    background: linear-gradient(135deg, #18406d);
    color: white;

    padding: 10px 18px;
    border-radius: 50px;
    border: none;

    font-size: 0.85rem;
    font-weight: 600;

    text-decoration: none;

    box-shadow: 0 6px 15p(13, 110, 253, 0.35);
    transition: all 0.25s ease;
}

/* Hover */
.btn-code:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 22px rgba(13, 110, 253, 0.45);

}

/* Click */
.btn-code:active {
    transform: scale(0.96);
}

/* Ícono */
.btn-code i {
    font-size: 1rem;
}
.location-badge {
    text-decoration: none;
    font-weight: 500;
    background: transparent;
    color: #eaeaea;
}
