/* Estilo base para la tarjeta del personaje */
.practice-card {
    background-color:rgb(255, 242, 224);
    border: 1px solid #d6b482;
    border-radius: 6px; /* Bordes redondeados */
    padding: 2rem;
    transition: all 0.3s ease; /* Suaviza la animación del hover */
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    margin: 10px; /* Separación entre tarjetas */
    max-width: 300px; /* Ancho máximo para que no se estiren demasiado */
    display: inline-block; /* Para que se pongan una al lado de otra */
    vertical-align: top;
}

/* Efecto al pasar el mouse por encima */
.practice-card:hover {
    border-color: #2a2a2a;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transform: translateY(-5px); /* Pequeño movimiento hacia arriba */
}

.practice-title {
    color: #e67e22; /* Color naranja estilo Dragon Ball */
}

#contenedor-personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}
body{
    background: rgba(247, 213, 101, 0.699);   
    margin: 10px;
    padding: 20px; 
}
h1{
    text-align: center;
}
button{
        
    background-color: #d6b482;
}
.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-volver {
    position: absolute;
    left: 70px;
    background-color: #9ab148;
    background-color: #6c6d33;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    margin: 0;
}
.btn-cargar {
    background-color: #81592a;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}