#map{
    display: block;
    margin: auto;
    border: 2px solid  #7898db;
    border-radius: 15px;
    height: 70vh;
    width: 50%;
    
}
body{
    background-color:beige;
    margin-left: 2;
    padding: 20px;
}
.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn-volver {
    position: absolute;
    left: 70px;
    background-color: #4a5327;
    background-color: #9ab148;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    margin: 0;
}
